<div id="wrapper">

  <script>
    var railsconfTweets = new Tweets();
    
    var tweetsView = new TweetsView({
      collection: railsconfTweets
    });
    railsconfTweets.fetch();
  </script>


</div>